@page "/"
@* OutputCache 属性指定 10 秒的持续时间。 缓存页面后，10 秒窗口中的每个后续请求都会接收缓存的输出。 *@
@attribute [OutputCache(Duration =10)]

<PageTitle>Home</PageTitle>

<h1>Hello, WpfStudyNote.Aspire!</h1>

Welcome to your new app.@DateTime.Now
